@use './../../../../styles/vars';

.GameLogChoices {
    width: 100%;
    &-content {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: vars.$title-font;
    }

    &-last-event-ending {
        font-size: 1.1em;
        font-weight: 600;
        text-align: center;
    }

    button {
        padding: 5px 10px;
        text-align: justify;
        font-size: 0.9em;
        line-height: 1.3em;
        color: white;
        margin-bottom: 10px;
        border: transparent;
        background: #9A6D51;
        border-radius: 5px;
    }

    button:hover {
        background: #402A23;
    }
}