.GameLogChoices {
    width: 360px;
    // height: 35%;
    position: absolute;
    bottom: 5px;
    // border-top: solid 2px #9A6D51;

    &-content {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Quiska';
    }

    &-last-event-ending {
        font-weight: bold;
        text-align: center;
    }

    button {
        padding: 5px 10px;
        text-align: justify;
        font-size: 0.9em;
        line-height: 1.3em;
        color: white;
        margin-bottom: 10px;
        border: transparent;
        /* glass effect */
        background: #9A6D51;
        // background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 5px;
    }

    button:hover {
        background: #402A23;
    }
}