@use './../../../styles/vars';

.NPC {
    width: 40%;
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 5px;
    
    &-img {
        width: 100%;
        border-radius: 2em;
        box-shadow: 0px 0px 15px black;
    }
    &-title {
        color: vars.$primary-color;
        width: fit-content;
        height: auto;
        margin: auto;
        margin-bottom: 5px;
        padding: 7px 20px;
        background-color: black;
        border-radius: 2em;
        box-shadow: 0px 0px 15px black;
        font-weight: 500;
    }
}