@use "./../../../styles/vars";

.HomeLogged {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/images/openbook.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  position: relative;

  button {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid vars.$yellow-text-color;
    background: linear-gradient(
      vars.$alt-dark-color,
      vars.$darkest-color
  );
    color: vars.$yellow-text-color;
    font-family: vars.$main-font;
    font-weight: 400;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -90%);
  }

  button:hover {
    background: linear-gradient(
      vars.$alt-dark-color,
      vars.$darkest-color
    );
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: vars.$lightest-color;
  }

}