.HomeLogged {
  width: 100%;
  height: 110%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/images/openbook.png);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  position: absolute;
  top: 0px;

  button {
    height: 80px;
    width: 300px;
    margin-top: 10px;
    font-size: 2em;
    border-radius: 5px;
    border: solid 1px;
    background: linear-gradient(#9A6D51, #402A23);
    font-weight: bold;
    color: white;
  }


  button:hover {
    background: linear-gradient(#402A23, #9A6D51);
  }

}