@use './../../../styles/vars';

.GamePlayerHealth {
    color: vars.$lightest-color;
    text-align: left;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    background-color: vars.$alt-dark-color;

    h2 {
        font-family: 'Advent Pro', sans-serif;
        font-weight: 500;
        font-size: 1.1em;
        padding: .5em;
    }

    &-picture {
        width: 30px;
        border-radius: 1em;
    }
}