.HomeDescrption { 
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.5em;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    margin-bottom: 20px;
    background-color: beige;
}