@use './../../../styles/vars';

.GameLog {
    width: 100%;
    min-height: 100vh;
    line-height: 1.3em;
    text-align: justify;
    position: relative;
    font-family: vars.$main-font;
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 60px;

    &-Scroll {
        width: 100%;
        height: 95%;
        overflow-y: auto;
        padding-right: 10px;
        text-align: justify;
        line-height: 1.4em;
    }

    p {
        margin-bottom: 10px;
    }

    &-next-step-button, &-next-step-npc-button {
        height: 30px;
        width: 180px;
        margin-top: 10px;
        font-size: 1em;
        border-radius: 5px;
        border:transparent;
        background: linear-gradient( vars.$alt-dark-color, vars.$darkest-color);
        font-weight: bold;
        color: vars.$yellow-text-color;
        margin-bottom: 20px;
    }
  
    &-next-step-button:hover, &-next-step-npc-button:hover {
        background: linear-gradient(vars.$alt-dark-color, vars.$darkest-color);
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
        color: vars.$alt-light-color;
    }

    button {
        font-family: vars.$main-font;
        font-weight: 500;
        font-size: 1.05em;
    }
}

.skipButton {
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #ddc29a;
    padding: 2px;
    color: vars.$darkest-color;
    font-family: vars.$main-font;
    font-weight: 500;
    font-size: 1em;
}

.end-of-scrollable-zone {
    width: 100%;
    height: 1%;
    background-color: blue;
}

@media (max-width: 900){
    .GameLog {
        &-Scroll {
        padding: 1em;
        }
    }
}