.GameLog {
    width: 100%;
    height: 80vh;
    line-height: 1.3em;
    text-align: justify;
    overflow-y: auto;
    position: relative;

    &-Log {
        width: 100%;
        max-height: 65%;
        overflow-y: auto;
        padding-right: 10px;
        text-align: justify;
        line-height: 1.4em;
    }

    p {
        margin-bottom: 10px;
    }

    &-next-step-button, &-next-step-npc-button {
        height: 30px;
        width: 180px;
        margin-top: 10px;
        font-size: 1em;
        border-radius: 5px;
        border: solid 1px;
        background: linear-gradient( #9A6D51, #402A23);
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
    }
  
    &-next-step-button:hover, &-next-step-npc-button:hover {
        background: linear-gradient(#402A23, #9a6d51);
    }
}

.skipButton {
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #ddc29a;
    padding: 2px;
    color: #402A23;
}
