.GameMenus {
    width: 97%;
    height: 11vh;
    margin-top: 5px;
    // border: 1px solid black;
    text-align: start;
    display: flex;
    flex-direction: column;

    li {
        padding: 9px;
        width: 15%;
        height: auto;
        font-weight: bold;
        border-top: #22757C solid 1px;
        border-left: #22757C solid 1px;
        border-right: #22757C solid 1px;
        background-color: white;
        color: #22757C;
    }

    &-progress {
        border-bottom: #22757C solid 1px;
    }

    li:hover {
        background-color: #22757C;
        color: white;
    }

}