@use './../../../../styles/vars';

.GameLogDialogue {
    &-sentence {
        font-style: italic;
        font-weight: 400;
    }
    &-answer {
        font-style: italic;
        font-weight: 400;
    }
    &-effectDescription {
        font-weight: 600;
    }
    &-button {
        padding: 5px 10px;
        text-align: justify;
        font-size: 1em;
        line-height: 1.3em;
        color: white;
        margin-bottom: 10px;
        border-radius: 5px;
        border-radius: .4em;
        background: 
        linear-gradient(
            vars.$alt-dark-color,
            vars.$darkest-color
        );
        font-family: vars.$main-font;
        color: vars.$yellow-text-color;
        border: 1px solid vars.$alt-dark-color;
    }
}