.GameLogDialogue {
    &-sentence {
        font-style: italic;
        font-weight: 400;
    }
    &-answer {
        font-style: italic;
        font-weight: 400;
    }
    &-effectDescription {
        font-weight: 800;
    }
}