// Generic
$primary-color: #a39e9c;
$alt-light-color: #dde0dd;
$alt-dark-color: #504a49;
$darkest-color: black;
$lightest-color: #fff;
$yellow-text-color: #FFDA87;

$gutter: 2rem;

// MEMO - Pour utiliser ces variables dans d'autres fichiers :
// 1) En haut du fichier, importer :
// @use 'vars';
// 2) Pour appeler la primary-color, par exemple : 
// vars.$primary-color