@use "./../../styles/vars";

.MyAccount {
    width: 80%;
    height: 100%;
    color: white;
    background-image:
        linear-gradient(rgba(236, 192, 130, 0.5),
            rgba(238, 213, 175, 0.5)),
        url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimg.freepik.com%2Fpremium-photo%2Frecycled-white-paper-texture-background-vintage-wallpaper_118047-9300.jpg%3Fw%3D2000');

    font-family: vars.$main-font;
    font-weight: 500;

    button {
        font-family: vars.$main-font;
        font-weight: 500;
        font-size: 1em;
    }

    &-container {
        width: 100%;
    }

    &-title {
        width: 100%;
        height: 3em;
        padding: 1.5em 0;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        background-image: url('./../../assets/images/header.webp');
        background-size: contain;
        background-repeat: repeat-x;
        background-blend-mode: overlay;

        color: vars.$yellow-text-color;
        font-size: 1.3em;
    }

    &-main {
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
    }

    &-left,
    &-right {
        padding-top: 10px;
    }

    &-nav {
        width: 100%;
        background: vars.$alt-dark-color;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    
    &-nav-link {
        height: auto;
        padding: 20px;
        text-align: left;
        cursor: pointer;
    }
    
    @media screen and (max-width: 480px) {
        .MyAccount {
            width: 100%;
            
            &-nav {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            &-nav-link {
                text-align: center;
                border-bottom: solid vars.$darkest-color 1px;
            }
        }
    }

    &-Show,
    nav {
        font-size: 1.2em;
    }

    &-Show-info {
        font-size: 1em;
        margin: 1em;
    }

    &-Show-player-avatar {
        width: 40%;
        border: solid vars.$darkest-color 1px;
        border-radius: 1em;

    }

    &-Delete {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        font-display: justify;
        margin: 1em;

        h2 {
            margin-bottom: 10px;
        }

        &-warning {
            color: brown;
            margin-bottom: 1em;
        }

        &-button {
            margin-top: 10px;
            width: 80%;
            padding: 10px;
            border-radius: 1em;
            background: linear-gradient( vars.$alt-dark-color, vars.$darkest-color);
            color: vars.$yellow-text-color;
        }
    }

    nav {
        width: 100%;
        height: 100%;
        background: vars.$alt-dark-color;
    }

    li {
        height: auto;
        padding: 20px;
        text-align: left;
        border-bottom: solid vars.$darkest-color 1px;
    }

    li:nth-child(1) {
        border-top: solid vars.$darkest-color 1px;
    }

    li:hover {
        background: vars.$darkest-color;
        cursor: grab;
    }

    &-right {
        padding-top: 20px;
        color: black;
    }
}

@media screen and (max-width: 480px) {
    .MyAccount {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .MyAccount {
        &-title {
            background-size: cover;
        }
    }
}