.GameLogNPCDialogue {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;

  &-content {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  button {
      padding-top: 10px;
      padding-left:  10px;
      padding-right: 10px;
      text-align: justify;
      font-size: 0.9em;
      line-height: 1.3em;
      color: white;
      margin-bottom: 10px;
      border: transparent;
      background: #9A6D51;
      border-radius: 5px;
      display: block;
  }

  button:hover {
      background: #402A23;
  }
}