@use '../../../../../styles/vars';

.GameLogNPCDialogue {
  width: 100%;
  height: 35%;

  &-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    padding-top: 10px;
    padding-left:  10px;
    padding-right: 10px;
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.3em;
    color: vars.$yellow-text-color;
    margin-bottom: 10px;
    border: transparent;
    background: 
      linear-gradient(
          vars.$alt-dark-color,
          vars.$darkest-color
      );
    border-radius: 5px;
    display: block;
  }

  button:hover {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: vars.$alt-light-color;
  }
}