@use "./../../../../styles/vars";

.HomeBookPlay {
    width: 45%;
    background-color: black;
    background-image: url('./../../../../assets/images/openbook4.webp');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vars.$title-font;

    &-title {
        color: vars.$yellow-text-color;
        font-weight: 500;
        text-decoration:double;
        background-color: vars.$darkest-color;
        border: 2px solid vars.$yellow-text-color;
        border-radius: 1em;
        padding: .4em;
        font-size: xx-large;
        box-shadow: 0px 0px 20px black;
    }
}

@media (max-width: 768px) {
    .HomeBookPlay {
        width: 80%;
        min-height: 200px;
        margin-bottom: 4em;
    
        &-title {
            color: white;
            font-weight: 700;
            text-decoration:double;
            background-color: vars.$darkest-color;
            border: 2px solid vars.$yellow-text-color;
            border-radius: 1em;
            padding: .4em;
            font-size: xx-large;
            color: vars.$yellow-text-color;
        }
    }
}
