@use "./../../../../styles/vars";

.GameMenuInventory {
    display: flex;
    flex-wrap: wrap;

    &-item {
        width: 15%;
        margin: 1em 0;
        // border: 1px solid #ffffff;
        border-radius: .5em;
        padding: .5em;
        background-color: rgb(54, 54, 54);
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);

    }

    &-itemImage {
        width: 100%;
    }

    &-itemName {
        font-family: vars.$main-font;
        color: vars.$lightest-color;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .GameMenuInventory {
    
        &-item {
            width: 30%;
            border-radius: .5em;
            padding: .5em;
            background-color: rgb(54, 54, 54);
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
    
        }
    
        &-itemImage {
            width: 100%;
        }
    
        &-itemName {
            color: vars.$lightest-color;
            font-size: .8em;
        }
    }
}