@use './../../styles/vars';

.Header {
  width: 100%;
  height: 90px;
  /* glass effect */
  background-color: rgba(0, 0, 0, .4);
  background-image: url('./../../assets/images/header2.png');
  background-size:contain;
  background-repeat:repeat-x;
  background-blend-mode: overlay;
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // backdrop-filter: blur(1px);
  // -webkit-backdrop-filter: blur(1px);

  // font for all nav
  font-family: vars.$main-font;
  font-weight: 500;
  font-size: 1.3rem;
  position: relative;



  &-logo {
    max-width: 130px;
    max-height: 100px;
    position: absolute;
    left: calc(50% - 65px);

  }

  &-Account {
    height: 30%;
    width: 230px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (max-width: 900px) {

    &-logo {
      width: 70px;
      position: absolute;
      left: calc(50% - 35px);
    }

    &-nickname {
      display: none;
    }

    &-Account {
      width: 30px;
      right: 0;
    }
  }
}

@media (max-width: 900px) {
  .Header {
    height: 60px;
    background-size: cover;
  }
}