@use './../styles/vars';

* {
  box-sizing: border-box;  
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // background-color: vars.$darkest-color;
  margin: auto;
}

.message {
  font-style: italic;
  font-size: .8em;
  padding: .3em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.infoMessage {
  background-color: vars.$info-background-color;
  color: vars.$info-color;
}

.successMessage {
  background-color: vars.$success-background-color;
  color: vars.$success-color;
}

.warningMessage {
  background-color: vars.$warning-background-color;
  color: vars.$warning-color;
}

.errorMessage {
  background-color: vars.$error-background-color;
  color: vars.$error-color;
}

// Pour cacher les boutons ou parties dont nous n'avons plus besoins
// Ex : bouton "SUITE"
.hidden {
  display: none;
}
