@use './../../styles/vars';

@keyframes spinnerAndLoad {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.Loading {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    color: whitesmoke;
    font-size: 2em;
    z-index: 2500;
  }

  &-spinner {
    transform: translate(-50%, -50%);
    color: vars.$alt-dark-color;
    animation: spinnerAndLoad 2.5s linear infinite alternate;
  }
}