@use './../../../../styles/vars';

.GameHealthBar {
    width: 120px;
    height: 20px;
    border: 2px vars.$lightest-color solid;
    border-radius: 1em;
    position: relative;
    margin: auto;

    &-flashing {
      animation: flash 0.5s infinite;
    }

    &-currentHealth {
      background-color: rgb(146, 34, 34);
      height: 100%;
      border-radius: 1em;
      position: absolute;
      transition: width 2s ease-in-out;
      top: 0;
      left: 0;
    }
  
    &-remainingHealth {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  
    &-counter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: .8em;
    }

  @keyframes flash {
    50% {
      opacity: 0;
    }
  }
}