.HomeBook {
  width: 63%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(../../../assets/images/openbook.png);
  background-size: 1100px, auto;
  background-repeat: no-repeat;
  background-position: center 60%;

  &-GlassLeft {
    height: 450px;
    aspect-ratio: 5/6;
    position: relative;
    left: -55px;
    top: -40px;
    padding: 20px;
    /* glass effect */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
  }

  &-left {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-menu, &-form, &-form button {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &-sommaire {
    text-align: center;
    padding-bottom: 10px;
  }

  &-GlassRight {
    height: 450px;
    aspect-ratio: 5/6;
    position: relative;
    right: -65px;
    top: -40px;
    padding: 15px;
    /* glass effect */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
  }

  &-right {
    width: 100%;
    text-align: justify;
    line-height: 1.5em;
  }

  &-title {
    text-align: center;
    padding-bottom: 0;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &-menu-leading-dots {
    border-bottom: .15rem dotted black;

    /* Take remaining width */
    flex: 1;

    /* Spacing */
    margin: 0 0.25rem;
  }

  &-menu:hover {
    cursor: grab;
  }

  h3:hover {
    text-decoration: underline ;
    text-underline-offset: .5em;
  }
  
  p {
    padding: 10px;
  }

  h1 {
    font-family: 'Berkshire Swash', handwriting;    
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  label {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 7px;
    padding-left: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: .8em;
  }

  button {
    height: 30px;
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
    background: linear-gradient(#9A6D51, #402A23);
    color: white;
  }

  button:hover {
    background: linear-gradient(#402A23, #9A6D51);
  }

  &-form {
    width: 100%;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.password-input-icon {
  margin-left: 10px;
}