.HomeLogin {
    width: 80%;
    height: 73%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(../../../assets/images/openbook.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    bottom: 0px;

    &-GlassLeft {
        width: 25%;
        position: relative;
        top: 110px;
        left: -43px;
        padding: 10px;
        /* glass effect */
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 5px;
    }

    &-left {
        width: 100%;
    }

    &-GlassRight {
        width: 25%;
        position: relative;
        top: 110px;
        right: -45px;
        padding: 10px;
        /* glass effect */
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 5px;
    }

    &-right {
        width: 100%;
    }

    &-log {
        width: 230px;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &-create {
        width: 230px;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    h1 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    label {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    input {
        height: 35px;
        border-radius: 5px;
        border: transparent;
        margin-bottom: 7px;
        padding-left: 10px;
    }

    button {
        height: 35px;
        margin-top: 10px;
        font-size: 1em;
        border-radius: 5px;
        border: solid 1px;
        background-color: purple;
        font-weight: bold;
        // background-color: rgb(107, 68, 143);
        color: white;
    }
}