@use './../styles/vars';

.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 216, 216);

    &-all {
        margin: 50px;
    }
}